/* Animation classes */
.animated-section {
  opacity: 0;
  transform: translateX(100px); /* Default position, hidden to the right */
  transition: opacity 1s ease, transform 1s ease;
}

/* For mobile responsiveness */
@media (max-width: 767px) {
  /* On mobile, use translateY (vertical) instead of translateX (horizontal) */
  .animated-section {
    transform: translateY(100px);
  }

  .from-left {
    transform: translateY(100px);
  }

  .from-right {
    transform: translateY(-100px);
  }
}

/* When the section is in view, it will move to its original position */
.animated-section.visible {
  opacity: 1;
  transform: translateX(0); /* or translateY(0) for mobile */
}

/* For mobile, adjust the section's appearance */
@media (max-width: 767px) {
  .animated-section.visible {
    transform: translateY(0);
  }
}

/* Apply glow effect for titles */
.contact-title {
  color: #ffc107;
  text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.7),
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 15px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 165, 40, 0.8),
    0 0 30px rgba(255, 209, 41, 0.6),
    0 0 40px rgba(255, 255, 0, 0.4);
}
